/* :root {
    color-scheme: dark;
} */
body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
.fixed-background {
  background-image: url("../images/cardimg13.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 500px;
  background-position: center;
  background-size: cover;
}
/*footer color*/
.footer-color{
  background-color:#131313 ;
}
.footer-color a {
  color: white; /* Set text color to white */
  text-decoration: none; /* Remove underline */
}
.viewbutton {
  background-color: #000000;
  color: white;
  border-radius: 4px;
  padding: 10px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: -30px;
}
.viewbutton:hover {
  background-color: #55bcc9;
  transition: 0.3s;
}
.viewbutton1 {
  background-color: #000000;
  color: white;
  border-radius: 4px;
  padding: 10px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  
}
.viewbutton1:hover {
  background-color: #55bcc9;
  transition: 0.3s;
}
.ai-img {
  margin-top: -22px;
}
.navbar {
    /* background-color: #fff; */
    background-color: rgba(255, 255, 255, 0);
    height: 80px;
    /* margin: 20px; */
    /* border-radius: 15px; */
    padding: 0.5rem;
}
.navbar-brand {
  margin-top: 3px;
    font-weight: 500;
    /* font-family: "Lobster", sans-serif; */
    font-family: 'Pacifico', cursive;
    /* color: #009970; */
    color: white;
    font-size: 25px;
    transition: 0.3s color;
}
.navbar-brand:hover {
    color: #55bcc9;
}
.offcanvas-title {
    font-family: 'Pacifico', cursive;
}
@media (min-width: 992px) {
  .offcanvas-body.text-center {
    margin-right: 80px !important;
  }
}

.login-button {
    /* background-color: #009970; */
    background-color: white;
    /* color: #fff; */
    color: black;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}
.login-button:hover {
    /* background-color: #00b383; */
    background-color: #55bcc9;
}
.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}
/* Hamburger white */
.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><line x1="3" y1="6" x2="27" y2="6" stroke="white" stroke-width="3"/><line x1="3" y1="14" x2="27" y2="14" stroke="white" stroke-width="3"/><line x1="3" y1="22" x2="27" y2="22" stroke="white" stroke-width="3"/></svg>');
}

.nav-link {
    /* color: #666777; */
    color: rgba(223, 223, 223, 0.774);
    font-weight: 500;
    position: relative;
}
.nav-link:hover, .nav-link.active {
    /* color: #000; */
    color: rgb(255, 255, 255);
}
/* Make active page white in navbar */
.navbar .navbar-nav .nav-link.active {
    color: rgb(255, 255, 255); /* Your desired color for the active nav link */
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        /* background-color: #009970; */
        background-color: white;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}
.featurette-divider {
  margin: 2rem 0; 
}

.hero-section {
    background: url(../images/hero-bg2.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 75vh;
}
.hero-section::before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 75vh;
}
.hero-section .container {
    height: 75vh;
    z-index: 1;
    position: relative;
}
.hero-section h1 {
    /* font-family: 'Pacifico', cursive; */
    /* font-family: "Kanit", sans-serif; */
    font-size: 70px;
}
.hero-section h2 {
    /* font-family: 'Pacifico', cursive; */
    font-family: "Kanit", sans-serif;
    font-size: 50px;
}
.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust opacity as needed */
  z-index: 1;
}

.cslbutton {
  background-color: #000000;
  font-size: 16px;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 12px;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.1);
}
.cslbutton:hover {
  font-weight: 600;
  background-color: #55bcc9;
  transition: 0.3s;
}
/* Navbar menu smaller screens */
@media (max-width: 992px) {
    .navbar-nav .nav-link {
      color: rgba(0, 0, 0, 0.74);
    }
    .navbar .navbar-nav .nav-link.active {
        color: white; 
        background-color: #000000;
        border-radius: 40px;
    }
  }
  @media (max-width: 992px) {
    .navbar-nav .nav-link:hover {
      color: rgb(0, 0, 0);
      font-weight: bold;
      transition: 0.3s;
    }
  }

.dropdown-toggle-split::after {
    display: none !important;
}
.user-button {
    /* background-color: #009970; */
    background-color: white;
    /* color: #fff; */
    /* color: black; */
    font-size: 14px;
    padding: 1px 3px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s background-color;
}
.btn {
    border: none;
}
.btn:focus {
    box-shadow: none;
    outline: none;
}
.user-button:hover {
    /* background-color: #00b383; */
    background-color: #55bcc9;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dropdown-menu .dropdown-item:hover {
    color: black;
    font-weight: 600;
}
.dropdown-item:focus, .dropdown-item:active {
    background-color: #55bcc9;
}

/* AI PAGE */
.blur{
    filter: blur(8px);
}

.glass{
  z-index: 1000;
  background-color: rgba(230, 230, 230, 0);
  position: absolute;
}

.img-box{
  max-width: 300px;
  min-width: 200px;
  width: 280px;
  border-radius: 10px;
  max-height: 222px;
  min-height: 161px;
}

.grid-wrap > div img{
  width: 300px;
}

.grid-wrap > div{
  min-width: 350px;
}

/* .btn-search {
    padding: 1px;
    border-radius: 0px;
}
.search-input {
    font-size: 16px;
    padding: -5px;
} */
.searchdiv {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .search-input {
    padding: 16px;
    border: 2px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    width: 500px;
  }
@media only screen and (max-width: 768px) {
    .search-input {
        width: 400px; /* Adjust height for smaller screens */
    }
}

@media only screen and (max-width: 576px) {
    .search-input {
        width: 350px; /* Further adjust height for even smaller screens */
    }
}
  .btn-search {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn-search:hover {
    background-color: #55bcc9;
    transition: 0.3s;
  }


  /* grid */
  @media (min-width: 300px) {
    .grid {
      columns: 1;
      gap: 12px;
    }
    
    .grid img {
      max-width: 100%;
      padding-top: 12px !important;
    }
  }
  
  @media (min-width: 600px) {
    .grid {
      columns: 2;
      gap: 12px;
    }
    
    .grid img {
      max-width: 100%;
      padding-top: 12px !important;
    }
  }
  
  @media (min-width:900px) {
    .grid{
      columns: 3;
      gap: 20px;
    }
  
    .grid img {
      padding-top: 20px !important;
    }
  }
  
  .grid-item img {
    width: 100%;
    height: 100%;
    padding-top: 15px;
    object-fit: cover;
  }
  
  @media(min-width:768px) {
    .grid-item img {
      flex-direction: column;
    }
  }
  .grid {
    justify-content: center;
    max-width: 1400px;
  }
  .image-resolution {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(231, 231, 231);
    font-size: 12px;
  }
  @media (max-width: 720px) {
    .image-resolution {
      font-size: 8px;
    }
  }
  .grid2 {
    display: flex;
    justify-content: center;
  }

.navbar-scrolled {
    background-color: rgb(255, 255, 255); /* Change to desired color */
}
.navbar-scrolled .navbar-brand {
    color: #000000;
}
.navbar-scrolled .nav-link {
    color: #444444c5;
}
.navbar-scrolled .nav-link:hover, .nav-link.active {
  /* color: #000; */
  color: rgb(0, 0, 0);
}
/* Make active page white in navbar */
.navbar-scrolled .navbar .navbar-nav .nav-link.active {
  color: rgb(0, 0, 0); /* Your desired color for the active nav link */
}

@media (min-width: 991px) {
  .navbar-scrolled .nav-link::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: black;
      visibility: hidden;
      transition: 0.3s ease-in-out;
  }
  .navbar-scrolled .nav-link:hover::before, .nav-link.active::before {
      width: 100%;
      visibility: visible;
  }
}
.navbar-scrolled .login-button {
  /* background-color: #009970; */
  background-color: black;
  /* color: #fff; */
  color: white;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}
.navbar-scrolled .login-button:hover {
  /* background-color: #00b383; */
  background-color: #55bcc9;
}
.navbar-scrolled .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><line x1="3" y1="6" x2="27" y2="6" stroke="black" stroke-width="3"/><line x1="3" y1="14" x2="27" y2="14" stroke="black" stroke-width="3"/><line x1="3" y1="22" x2="27" y2="22" stroke="black" stroke-width="3"/></svg>');
}
.navbar-scrolled .nav-link.nav-link.active {
  /* color: #666777; */
  color: rgba(0, 0, 0, 0.774);
  font-weight: 500;
  position: relative;
}
h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 800;
}
.logo {
  height: 100px;
  width: 100px;
  margin-right: -18px;
}
.logomargins {
  margin-left: -17px;
  margin-top: 3px;
}
@media (max-width: 720px) {
  .logomargins {
    margin-left: -34px;
  }
}
@media (max-width: 990px) {
  .container-fluid {
    margin-top: -18px;
  }
}

